
@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("./assets/fonts/lucida-sans/LSANS.TTF");
}

@font-face {
    font-family: "Lucida Sans Unicode";
    font-weight: bold;
    src: url("./assets/fonts/lucida-sans/LSANSD.TTF");
}

@font-face {
    font-family: "Lucida Sans Unicode";
    font-weight: bold;
    font-style: italic;
    src: url("./assets/fonts/lucida-sans/LSANSDI.TTF");
}

@font-face {
    font-family: "Lucida Sans Unicode";
    font-style: italic;
    src: url("./assets/fonts/lucida-sans/LSANSI.TTF");
}
