:root {
}


body {
  font-family: var(--font-family);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@media print {
  body *:not(.printable, .printable *) {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0
  }

  .printable,
  .printable * {
    visibility: visible;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
